@model ActiveDirectoryObjectModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Объект @Model.Attributes.FirstOrDefault(x => x.Attribute == "cn")?.Value</title>
</head>
<body>
<div>
    <table>
    @foreach (ActiveDirectoryAttributeModel attribute in Model.Attributes)
    {
        <div>
            <div style="margin-bottom: 10px">
                <span style="font-style: oblique">
                    @Html.LabelFor(_ => attribute.Attribute): @Html.DisplayFor(_ => attribute.Attribute)
                </span>
            </div>
            <div style="margin-bottom: 10px">
                @Html.EditorFor(_ => attribute.Value, new {style = "width:150px"})
            </div>
        
            <hr/>
        </div>
    }
    </table>
</div>
</body>
</html>