@{
    ViewData["Title"] = "ADSeek";
}

<div class="text-center">
    <h1 class="display-4">Авторизация в ADSeek</h1>
    @await Html.PartialAsync("AuthorizeForm")
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Использована технология ASP.NET Core MVC</a>.</p>
</div>