@using ADSeek.Domain.Enums
@model ActiveDirectoryObjectsListModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Поиск внутри домена</title>
</head>
<body>
<div>
    <h2>Результаты поиска:</h2>
    @if (!Model.DistinguishedNames.Any())
    {
        <h3>ничего не найдено</h3>
    }
    else
    {
        foreach (var (dn, objectClass) in Model.DistinguishedNames)
        {
            <div>
                @if (objectClass.HasFlag(ObjectClass.User))
                {
                    <div>
                        <span style="font-weight: bold">
                            @Html.ActionLink(dn, "UserView", "ActiveDirectory", routeValues: new {dn = dn})
                        </span>
                    </div>
                }

                <hr/>
            </div>
        }
    }
</div>
</body>
</html>