@using ADSeek.Domain.Enums
@model ActiveDirectoryObjectsListModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Все объекты домена</title>
</head>
<body>
<div>
    <h2>Объекты на домене:</h2>
    @foreach (var (dn, objectClass) in Model.DistinguishedNames)
    {
        <div>
            @if (objectClass.HasFlag(ObjectClass.User))
            {
                <div>
                    <span style="font-weight: bold">
                        @Html.ActionLink(dn, "UserView", "ActiveDirectory", routeValues: new {dn = dn})
                    </span>
                </div>
            }
            else if (objectClass.HasFlag(ObjectClass.Computer))
            {
                <div>
                    <span style="font-weight: bold">
                        @Html.ActionLink(dn, "ComputerView", "ActiveDirectory", routeValues: new {dn = dn})
                    </span>
                </div>
            }
            else if (objectClass.HasFlag(ObjectClass.Group))
            {
                <div>
                    <span style="font-weight: bold">
                        @Html.ActionLink(dn, "GroupView", "ActiveDirectory", routeValues: new {dn = dn})
                    </span>
                </div>
            }
            else
            {
                <div>
                    <span style="font-weight: bold">
                        @Html.ActionLink(dn, "ObjectView", "ActiveDirectory", routeValues: new {dn = dn})
                    </span>
                </div>
            }
            <hr/>
        </div>
    }
</div>
</body>
</html>